* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.box{
    background-color: #edefff;
    height: calc(100vh - 10px);
    padding-top: 10px;
    .nagivation{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .tagFilter{
            width: 300px;
        }
        .pagination{
            display: flex;
            h3{
                margin-right: 10px;
            }
        }
        ul{
            display: flex ;
            justify-content: center;
            list-style-type: none;
            background-color: #d2d6f7;

            li{
                margin: 10px;
                cursor: pointer;
                a{
                    outline:0 none;
                }
            }
            .active{
                background-color: #7889f3;
                color: white;
                width: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 20px;
            }
        }
        
        .nameSearch{
            display: flex;
            height: 38px;
            background-color: hsl(0,0%,100%);
            border-color: hsl(0,0%,80%);
            border-radius: 3px;
        }
    }
    .modal{
        width: 300px;
        height: 400px;
        background-color: #7487ff;
        position: absolute;
        left: calc(50% - 150px); 
        top: 30%;
        display: flex;
        padding: 10px;
        border-radius: 10px;
        justify-content: space-between;
        .close{
            cursor: pointer;
            position: absolute;
            right: 10px;
            bottom:10px;
            font-size: 20px;
        }
    }
    .loader{
        position: absolute;
        padding-top: 150px;
        filter: blur(0);
        left: 50%; 
        top: 30%;
        transform: translate(-50%, -50%);
        z-index: 999;
        color: #006be6;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    }
    .mainArea{
        display: flex;   
        flex-wrap: wrap;
        align-items: flex-start;

        .card{
            width: 100px;
            height: 290px;
            background-color: #b7c1ff;
            margin: 10px;
            border-radius: 5px;
            padding-top: 10px;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            .tags{
                width: 90%;
                text-align: center;
                .tag{
                    color: white;
                    margin-bottom: 5px;
                }
            }
        }


    }
}
@media screen and (max-width: 900px){
    .nagivation{
        flex-direction: column;
        justify-self: space-around;
        .tagFilter{
            margin-bottom: 20px;
        }
        .nameSearch{
            margin-bottom: 20px;
        }
        .pagination{
            margin-bottom: 20px
        }
    }
}